@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    background: white;
}
.login-container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    /* padding: 100px; */
}
.login-form{
    width: 50%;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
    padding: 100px 200px;
}


.logo img{
    width: 300px;
    margin-bottom: 80px;
}
form{
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 10px;
    padding: 30px;
    background: white;
    border: 1px solid var(--dark-blue);
}
h6{
    font-size: 28px;
    font-weight: 600;
}
.form-group{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.form-group label{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}
.form-group input{
    width: 100%;
    padding: 10px;
    border: 1px solid var(--dark-blue);
    outline: none;
    font-size: 18px;
}
.form-group input:focus{
    border-color: var(--blue);
}
.form-check{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    margin-bottom: 20px;
}
input#remember{
    width: 20px;
    height: 20px;

}
button{
    padding: 10px;
    border: none;
    background: var(--blue);
    color: white;
    font-size: 18px;
    cursor: pointer;
}
button:hover{
    background: var(--primary);
    transition: 0.3s;
}
a{
    color: var(--primary);
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;

}

.login-right{
    background-image: url(../../Assests/Images/Loginimg.png);
    background-size: cover;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 30px;
}

.login-right-content{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 100px;
    background-color: var(--dark-blue-2);
    opacity: 0.8;
}
.login-right h1{
    font-size: 80px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}
