.teacher-table {
  /* Style the student table */
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.teacher-table th,
.teacher-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.teacher-table th {
  background-color: #f2f2f2;
}

.profile-pic > img{
  width: 100px;
}
.update{
  margin-right: 10px;
}
.delete{
  background-color: red !important;
  border: 1px solid red;
}