/* Add your styling for the StudentManagement page here */

.student-header, .course-header, .faculty-header, .degree-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background: #f2f2f2;
  padding: 10px;
  color: var(--white);
  background-color: var(--dark-blue-2);
}
.student-table {
  /* Style the student table */
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.student-table th,
.student-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.student-table th {
  background-color: #f2f2f2;
}

.view-link,
.edit-link,
.delete-button {
  /* Style individual links/buttons within the student actions */
  margin-right: 10px;
}