
.student-courses , .course-view {
  padding: 20px;
  background-color: var(--white);
  width: 100%;
  overflow-y: auto;
  height: 90vh;
}

.features{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
  width: 100%;
  gap: 200px;
  background-color: white;
  /* filter: blur(60%); */
  padding: 20px;
  /* box-shadow: 0px 5px 10px 0px #00000025; */
  position: sticky;
  top: 0;
  z-index: 100;
  
}

.features-btn-1{
  background-color: rgb(255, 0, 0);
  padding: 25px 50px;
  font-size: 20px;
  color: var(--white);
  border: none;
  width: 250px;
  height: 80px;
}
.features-btn-2{
  background-color: rgb(224, 190, 0);
  padding: 25px 50px;
  font-size: 20px;
  color: var(--white);
  border: none;
  width: 250px;
  height: 80px;
}
.features-btn-3{
  background-color: rgb(0, 223, 0);
  padding: 25px 50px;
  font-size: 20px;
  color: var(--white);
  border: none;
  width: 250px;
  height: 80px;
}
.features-btn-2:hover, .features-btn-1:hover, .features-btn-3:hover{
  background-color: var(--light-blue);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: none;
  color: var(--white);
}

.student-courses > h2{
 font-weight: 500;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: var(--dark-blue);
}
.courses{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;

}
.course{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  /* border: 1px solid black; */
  box-shadow: 0px 5px 10px 0px #00000025;
  gap: 10px;
  width: 400px;
  color: black;
}
.course > img{
  width: 400px;
  height: 200px;
  margin-bottom: 10px;
}
.course > h3{
  font-weight: 500;
  margin-bottom: 10px;
}
.course > p{
  font-weight: 300;
  margin-bottom: 10px;
  text-align: center;
}
.view-btn {
  background-color: var(--dark-blue);
  padding: 5px 10px;
  font-size: 20px;
  margin-bottom: 10px;
  width: 360px;
  border: 1px solid var(--dark-blue);

  color: var(--white);
}
.view-btn:hover{
  background-color: var(--light-blue);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: 1px solid white;
}