/* DegreeManagement.css */

.degree-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.degree-table {
  width: 100%;
  border-collapse: collapse;
}

.degree-table th, .degree-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.degree-table th {
  background-color: #f2f2f2;
}

.action-btn {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

.action-btn button {
  padding: 10px 20px;
  cursor: pointer;
}

#delete {
  background-color: #ff0000;
  color: #fff;
  border: 1px solid #ff0000;
}

#delete:hover {
  border: 1px solid var(--white);
}
